<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gum</key>
	<dict>
		<key>price</key>
		<real>0.75</real>
		<key>quantity</key>
		<integer>20</integer>
	</dict>
	<key>sportsDrink</key>
	<dict>
		<key>price</key>
		<real>2.75</real>
		<key>quantity</key>
		<integer>1</integer>
	</dict>
	<key>fruitJuice</key>
	<dict>
		<key>price</key>
		<real>1.5</real>
		<key>quantity</key>
		<integer>6</integer>
	</dict>
	<key>water</key>
	<dict>
		<key>price</key>
		<real>1</real>
		<key>quantity</key>
		<integer>11</integer>
	</dict>
	<key>popTart</key>
	<dict>
		<key>price</key>
		<real>2</real>
		<key>quantity</key>
		<integer>2</integer>
	</dict>
	<key>candyBar</key>
	<dict>
		<key>price</key>
		<real>1</real>
		<key>quantity</key>
		<integer>20</integer>
	</dict>
	<key>wrap</key>
	<dict>
		<key>price</key>
		<real>5.25</real>
		<key>quantity</key>
		<integer>4</integer>
	</dict>
	<key>sandwich</key>
	<dict>
		<key>price</key>
		<real>5.25</real>
		<key>quantity</key>
		<integer>2</integer>
	</dict>
	<key>cookie</key>
	<dict>
		<key>price</key>
		<real>1</real>
		<key>quantity</key>
		<integer>3</integer>
	</dict>
	<key>chips</key>
	<dict>
		<key>price</key>
		<real>1</real>
		<key>quantity</key>
		<integer>14</integer>
	</dict>
	<key>dietSoda</key>
	<dict>
		<key>price</key>
		<real>1.25</real>
		<key>quantity</key>
		<integer>5</integer>
	</dict>
	<key>soda</key>
	<dict>
		<key>price</key>
		<real>1.25</real>
		<key>quantity</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
